.example-container {
  margin-bottom: 10px;

}

fieldset {
  margin: 0 8px;
  border: 1px solid silver;
  padding: 0 8px;
  border-radius: 4px;
}

legend {
  padding: 2px;
}

.input {
  max-width: 200px;
}

