.example-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}


fieldset {
  margin: 0 120px 10px;
  border: 1px solid silver;
  padding: 0 8px;
  border-radius: 4px;
}

legend {
  padding: 2px;
}

.input {
  max-width: 320px;
  margin: 10px;
  text-align: center;
}

.button {
  margin: 10px;
  width: 320px;
}
